<div class="common-content">
  <div>
    <label>siteName</label>
    <input nz-input placeholder="Basic usage" [(ngModel)]="systemInfo.siteName" />
  </div>
  <div>
    <label>favicon</label>
    <input nz-input placeholder="Basic usage" [(ngModel)]="systemInfo.favicon" />
  </div>
  <div>
    <label>footAbout</label>
    <input nz-input placeholder="Basic usage" [(ngModel)]="systemInfo.footAbout" />
  </div>
  <div>
    <label>footCopyRight</label>
    <input nz-input placeholder="Basic usage" [(ngModel)]="systemInfo.footCopyRight" />
  </div>
  <div>
    <label>footFiling</label>
    <input nz-input placeholder="Basic usage" [(ngModel)]="systemInfo.footFiling" />
  </div>
  <div>
    <label>footPoweredBy</label>
    <input nz-input placeholder="Basic usage" [(ngModel)]="systemInfo.footPoweredBy" />
  </div>
  <div>
    <label>footPoweredByUrl</label>
    <input nz-input placeholder="Basic usage" [(ngModel)]="systemInfo.footPoweredByUrl" />
  </div>
  <div>
    <label>siteDesc</label>
    <input nz-input placeholder="Basic usage" [(ngModel)]="systemInfo.siteDesc" />
  </div>
  <div>
    <label>siteLogi</label>
    <input nz-input placeholder="Basic usage" [(ngModel)]="systemInfo.siteLogi" />
  </div>

  <div>
    <button nz-button (click)="onUpdate()" nzType="primary">Save</button>
  </div>
</div>
