<div class="common-content">
  <nz-table
    #basicTable
    nzShowSizeChanger
    [nzData]="entries"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="pageInfo.totalEntries"
    [nzPageSize]="pageInfo.pageSize"
    [nzPageIndex]="pageInfo.pageNumber"
    (nzQueryParams)="onPageChange($event)"
  >
    <thead>
      <tr>
        <th>标题</th>
        <th>封面</th>
        <th>分类</th>
        <th>点击量</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.title }}</td>
        <td>
          <img
            nz-image
            width="50px"
            height="50px"
            [nzSrc]="data.cover"
            alt=""
          />
        </td>
        <td>{{ data.category?.name }}</td>
        <td>{{ data.clicks }}</td>
        <td>{{ data.status }}</td>
        <td>
          <a>Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="onDelete(data.id)" style="color: red">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
