<div class="container">
    <form>
        <div class="segment">
            <h1>Hello World</h1>
        </div>
        <label>
            <input [(ngModel)]="email" name="email" type="text" placeholder="Email Address"/>
        </label>
        <label>
            <input [(ngModel)]="password" name="email" type="password" placeholder="Password" />
        </label>
        <button (click)="onLogin()" class="red md:w-32" type="button"><i class="icon ion-md-lock"></i> Log in</button>
    </form>
</div>