<div>
  <app-my-input
    placeholder="请输入标题"
    [(inputModel)]="updateArticleInput.title"
  ></app-my-input>
  <div style="margin-top: 20px">
    <form novalidate #form="ngForm">
      <md-editor
        #md="ngModel"
        name="Content"
        (onEditorLoaded)="onEditorLoaded($event)"
        [preRender]="preRender"
        [postRender]="postRender"
        (onPreviewDomChanged)="onPreviewDomChanged($event)"
        [(ngModel)]="updateArticleInput.body"
        [mode]="mode"
        [options]="options"
        required
        height="500px"
      ></md-editor>
    </form>
  </div>
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div class="wrapper">
      <div class="link_wrapper">
        <button (click)="onSave()">Save!</button>
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
            <path
              d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div>
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select a category"
        [(ngModel)]="updateArticleInput.categoryId"
      >
        <nz-option
          *ngFor="let category of categories"
          [nzLabel]="category.name"
          [nzValue]="category.id"
        ></nz-option>
      </nz-select>
    </div>
  </div>
</div>
